.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 200s linear;
  }

}

.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: none;
  padding-top: 100px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-moviesList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; /* or other values: flex-start, flex-end, center, space-between, space-evenly */
  align-items: center; /* or other values: flex-start, flex-end, stretch */
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 80px;
}

.list-item {
  display: flex;
  flex-flow: column;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  font-size: 25px;
  max-width: 300px;
  transition: transform .2s;

}

.list-item:hover{
  transform: scale(1.2);
}

a:hover, a:visited, a:link, a:active
{
  text-decoration: unset !important;
  color: unset;
}

img{
  border-radius: 30px;
}

.pageSelector
{
  display: flex;
  flex-flow: column;
  margin: 20px;
  padding: 30px;
  border-radius: 30px;
  font-size: 60px;
  background-color: rgba(0, 0, 0, 0.788);
  transition: transform .2s;
}

.pageSelector:hover{
  transform: scale(1.8);
}
.pageSelectorBottom
{
  display: flex;
  flex-flow: row;
  justify-content: space-around; /* or other values: flex-start, flex-end, center, space-between, space-evenly */
  align-items: center; /* or other values: flex-start, flex-end, stretch */
  padding-top: 50px;
}