.Users-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px);
}

.Users-IconsContainer{
display: flex;
flex-flow: row nowrap;
justify-content: center;
align-content: center;
}

.User-Icon{
display: flex;
flex-flow: column;
padding: 80px;
font-size: 200px;
transition: transform .2s;

}
.User-IconImg{
  filter: drop-shadow(30px 30px rgba(0, 0, 0, 0.788));
  padding-bottom: 40px;
}

.User-Icon:hover{
  transform: scale(1.4);
}

.Username{
  padding:20px;
  font-size: 40px;
}
.users-loading-error {
  color: red;
}
